.tab{
    -fx-background-radius: 0;
    -fx-background-color: derive(-fx-base, -6.5%);
    -fx-border-color: transparent;
    -fx-margin: 0 0 0 30;
}

.tab-pane .tab-header-area {
    -fx-margin: 0 0 0 0;
    -fx-padding: 0 0 0 0;

}
.tab-pane > .tab-header-area > .headers-region > .tab:selected .focus-indicator {
    -fx-border-color: transparent;
}

.tab-pane > .tab-header-area > .headers-region > .tab:selected {
    -fx-background-color:  derive(-fx-base, -25%);
}

.tableTab > .tab-header-area > .headers-region > .tab:selected{
    -fx-background-color:  #fefefe;
}

.tab:hover{
    -fx-background-color:  derive(-fx-base, -15%);
}

.tree-cell:selected {
  -fx-background-color: derive(-fx-base, 15%);
  -fx-text-fill: #222222;
}