.progress-bar > .bar {
    -fx-background-color: linear-gradient(to bottom, derive(#177d0b, -7%), derive(#177d0b, 0%), derive(#177d0b, -3%), derive(#177d0b, -9%) );
    -fx-background-insets: 1 1 2 1;
    -fx-padding: 0.20em;
}