.list-view{
-fx-background-color:  #ffffff;
}

.table-view, .list-view{
-fx-font-size: 12;
}

.list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color: #eeeeee;
    -fx-text-fill: white;
}

.list-cell:even {
    -fx-background-color: white;
}

.list-cell:filled:hover {
    -fx-background-color: #fefefe;
    -fx-text-fill: white;
}


.check-box .box {
-fx-padding: 2px;
-fx-background-color: white;
-fx-border-color:#999999;
-fx-border-radius:2px;

}

.check-box:selected .mark {

-fx-background-color: white;

}

.check-box:selected .box {
-fx-border-color:#888888;
-fx-background-color: #999999;
}